<body>
    <form action="{% url 'search104' %}" method="POST">
    {% csrf_token %}
    <h1>工作查詢</h1>
    <span>請輸入關鍵字：</span><input type="text" name="keyword" id="">
    <br>
    <span>頁數：</span><input type="password" name="num" id="">
    <br>
    <input type="submit" value="查詢">
    </form>
     <a href="/main/index">
        <button>返回首頁</button>
    </a>
    <div class="fullimejob">
        {% for FTjob in FTjob%}
        <div class="Work">
           {{FTjob.0}}
        </div>
        <div class="company">
            {{FTjob.1}}
         </div>
         <div class="WorkArea">
            {{FTjob.2}}
         </div>
        <div class="Exp">
           {{FTjob.3}}
        </div>
        <div class="Edu">
           {{FTjob.4}}
        </div>
        <div class="saraly">
           {{FTjob.5}}
        </div>
        <div class="title">
            <div class="href">
               <a href="{{FTjob.6}}">{{FTjob.6}}</a>
            </div>
         </div>
        <br>
        {% endfor%}
     </div>
</body>